PORT=1212
SERVER_PASSWORD=yourpassword-here
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef
ENVIRONMENT=development
ENABLE_ENCRYPTION=false
MAX_CONNECTIONS=-1
DUMP_MEMORY_ON=false
DUMP_MEMORY_EVERY_SECOND=2
RESTORE_MEMORY_DUMP_AT_START=true
DUMP_PATH=data/dump
DEBUG=true
